---
import ListSection from './ListSection.astro';

interface FileLink {
  url: string;
  icon?: string;
  tip?: string;
}

interface ListItem {
  period?: string;
  titleHtml: string;
  descHtml?: string;
  files?: FileLink[];
}

interface Props {
  boardItems: ListItem[];
  committeeItems: ListItem[];
  standardizationItems: ListItem[];
  talksItems: ListItem[];
  teachingItems: ListItem[];
  judgesItems: ListItem[];
  reviewers: string[];
}

const { boardItems, committeeItems, standardizationItems, talksItems, teachingItems, judgesItems, reviewers } = Astro.props as Props;

function escapeHtml(value: string) {
  return String(value)
    .replaceAll('&', '&amp;')
    .replaceAll('<', '&lt;')
    .replaceAll('>', '&gt;')
    .replaceAll('"', '&quot;')
    .replaceAll("'", '&#39;');
}
---

<section id="activities">
  <h2>기타활동</h2>
  <h3>이사 등 활동</h3>
  <div id="board-list">
    <ListSection items={boardItems} />
  </div>
  <h3>전문위원 활동</h3>
  <div id="committee-list">
    <ListSection items={committeeItems} />
  </div>
  <h3>표준화</h3>
  <div id="std-list">
    <ListSection items={standardizationItems} />
  </div>
  <h3>초청강연</h3>
  <button class="collapse-btn" data-target="talks-list">초청강연 펼치기 / 접기</button>
  <div id="talks-list" class="collapsible">
    <ListSection items={talksItems} />
  </div>
  <h3>강의</h3>
  <button class="collapse-btn" data-target="teaching-list">강의 펼치기 / 접기</button>
  <div id="teaching-list" class="collapsible">
    <ListSection items={teachingItems} />
  </div>
  <h3>심사위원</h3>
  <button class="collapse-btn" data-target="judges-list">심사위원 펼치기 / 접기</button>
  <div id="judges-list" class="collapsible">
    <ListSection items={judgesItems} />
  </div>
  <h3>저널 리뷰어</h3>
  <button class="collapse-btn" data-target="reviewers-wrapper">저널 리뷰어 펼치기 / 접기</button>
  <div id="reviewers-wrapper" class="collapsible">
    <ul id="reviewers-list" class="simple-list" set:html={reviewers.map((r) => `<li>${escapeHtml(r)}</li>`).join('')}></ul>
  </div>
</section>
